<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="true"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="base">
            <directory>./Tests/Base</directory>
        </testsuite>

        <testsuite name="with-stopwatch">
            <directory>./Tests/WithStopwatch</directory>
        </testsuite>
    </testsuites>
</phpunit>